{% extends 'companies/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
  <!-- MDBootstrap Datatables  -->
  <!-- MDBootstrap Datatables  -->
<link href="{% static 'css/addons/datatables.min.css'%}" rel="stylesheet">
<link href= "{% static 'css/addons/datatables2.min.css' %} " rel="stylesheet">
<link href= "{% static 'css/addons/datatables-select2.min.css' %} " rel="stylesheet">
{% endblock css %}
{% block javascript %}
  <!-- MDBootstrap Datatables  -->
  <!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{% static 'js/addons/datatables.min.js' %}"></script>
<script type="text/javascript" src= "{% static 'js/addons/datatables2.min.js' %}"></script>
<script type="text/javascript" src= "{% static 'js/addons/datatables-select2.min.js' %}"></script>

{% endblock javascript %}
{% block content%}
<div class="d-flex align-items-center justify-content-center mt-4 mb-3">
<h1> Registered Companies</h1>
</div>

<div class="container">
  <a href="{% url 'add-companies' %}">
    <button type="button" class=" btn btn-blue-grey waves-effect">
      Add a new company
    </button>
  </a>
</div>



<div class=" container justify-content-center mb-3 mt-3 ">

<table id="dt" class="table mr-0 ml-4 table-responsive-md border-bottom  border-top example z-depth-1 mb-4">
  <thead>
    <tr>
      <th class="th-sm">ID</th>
      <th class="th-sm">Company Name</th>
      <th class="th-sm">Company Country</th>
      <th class="th-sm">VAT Number</th>
      <th class="th-sm">Company Role</th>
      <th class="th-sm">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for company in companies %}
      <tr>
        <th scope="row">{{company.id}}</th>
        <td>{{company.Name}}</td>
        <td>{{company.Country}}</td>
        <td>{{company.Vat_Number}}</td>
        <td>{{company.Role}}</td>
        <td>
          <span>
            <a href="{% url 'detail-company' pk=company.id %}">
              <i class="far fa-eye fa-lg"></i>
            </a>
            <a href="{% url 'update-company' pk=company.id %}">
              <i class="far fa-edit fa-lg"></i>
            </a>
            <a data-target="#basicExampleModal" data-toggle="modal">
              <i class="far fa-trash-alt fa-lg"></i>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure ? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <p> <b>Are you sure you want to delete "{{company.Name}}"?</b> </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <form method="post" action=" {% url 'delete-company' pk=company.id %}">
                      {% csrf_token %}
                      <Button class="btn btn-danger" type="submit" value="Confirm">Confirm</Button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  <tfoot>
    <tr>
      <th class="th-sm">ID</th>
      <th class="th-sm">Company Name

      </th>
      <th class="th-sm">Company Country

      </th>
      <th class="th-sm">VAT Number

      </th>
      <th class="th-sm">Company Role

      </th>
      <<th class="th-sm">Actions</th>

    </tr>
 </tfoot>
</table>
</div>



<script>
$(document).ready(function () {
  $('#dt').dataTable({

    columnDefs: [{
      orderable: false,
      className: 'select-checkbox',
      targets: 0
    }],
    select: {
      style: 'multi',
      selector: 'td:first-child'
    }
  });
});
$(document).ready(function () {
  $('#dt').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
$(document).ready(function () {
$('#dt').DataTable();
$('.dataTables_length').addClass('bs-select');
});
</script>

{% endblock %}
