{% extends 'companies/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
  <!-- MDBootstrap Datatables  -->
  <!-- MDBootstrap Datatables  -->
<link href="{% static 'css/addons/datatables.min.css'%}" rel="stylesheet">
<link href= "{% static 'css/addons/datatables2.min.css' %} " rel="stylesheet">
<link href= "{% static 'css/addons/datatables-select2.min.css' %} " rel="stylesheet">
{% endblock css %}
{% block javascript %}
  <!-- MDBootstrap Datatables  -->
  <!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{% static 'js/addons/datatables.min.js' %}"></script>
<script type="text/javascript" src= "{% static 'js/addons/datatables2.min.js' %}"></script>
<script type="text/javascript" src= "{% static 'js/addons/datatables-select2.min.js' %}"></script>

{% endblock javascript %}
{% block content%}
<div class="d-flex align-items-center justify-content-center mt-4 mb-3">
<h1> Registered Invoices</h1>
</div>

<div class="container">
  <a href="{% url 'add-invoices' %}">
    <button type="button" class="btn btn-outline-default waves-effect">
      Add a new invoice
    </button>
  </a>
</div>


<div class=" container justify-content-center mb-3 mt-3 ">

<table id="dt" class="table mr-0 ml-4 table-responsive-md border-bottom  border-top example z-depth-1">
  <thead>
    <tr>
      <th class="th-sm">Id</th>
      <th class="th-sm">Invoice Number
 
      </th>
      <th class="th-sm">Company
 
      </th>
      <th class="th-sm">Description
 
      </th>
      <th class="th-sm">Amount
 
      </th>
      <th class="th-sm">Type
      </th>
      <th class="th-sm"> Created At
      </th>
      <th class="th-sm">Actions</th>
 
    </tr>
  </thead>
  <tbody>
    {% for invoice in invoices %}
    <tr>
      <th scope="row">{{invoice.id}}</th>
        <th>{{invoice.invoice_number}}</th>
      <td>{{invoice.company_id}}</td>
      <td>{{invoice.contact_id}}</td>
      <td>{{invoice.amount}}</td>
      <td>{{invoice.type}}</td>
      <td>{{invoice.created_at}}</td>
      <td>
        <span>
          <a href="{% url 'detail-invoice' pk=invoice.id %}">
            <i class="far fa-eye fa-lg"></i>
          </a>
          <a href="{% url 'update-invoice' pk=invoice.id %}">
            <i class="far fa-edit fa-lg"></i>
          </a>
          <a data-target="#basicExampleModal" data-toggle="modal">
            <i class="far fa-trash-alt fa-lg"></i>
          </a>
          <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure ? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <p> <b>Are you sure you want to delete the invoice n° {{invoice.invoice_number}} ?</b> </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <form method="post" action=" {% url 'delete-invoice' pk=invoice.id %}">
                      {% csrf_token %}
                      <Button class="btn btn-danger" type="submit" value="Confirm">Confirm</Button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
     <th class="th-sm">Id</th>
     <th class="th-sm">Invoice Number

     </th>
     <th class="th-sm">Company

     </th>
     <th class="th-sm">Description

     </th>
     <th class="th-sm">Amount

     </th>
     <th class="th-sm">Type
     </th>
     <th class="th-sm"> Created At
     </th>
     <th class="th-sm">Actions</th>

   </tr>
 </tfoot>
</table>
</div>



<script>
$(document).ready(function () {
  $('#dt').dataTable({

    columnDefs: [{
      orderable: false,
      className: 'select-checkbox',
      targets: 0
    }],
    select: {
      style: 'multi',
      selector: 'td:first-child'
    }
  });
});
$(document).ready(function () {
  $('#dt').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
$(document).ready(function () {
$('#dt').DataTable();
$('.dataTables_length').addClass('bs-select');
});
</script>

{% endblock %}
