{% extends 'companies/base.html' %}
{% load widget_tweaks %}
{% block content %}


<div class="row d-flex justify-content-center">
    {% if messages %}
    <div class="alert alert-success w-responsive text-center w-25" role="alert">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}


</div>

<div class=" container d-flex justify-content-center">
<div class="card w-50">
<h5 class="card-header  mdb-color white-text text-center py-4">
<strong>Register a new person of contact</strong>
</h5>
<div  class="card-body  px-lg-5 pt-0">
<form class="md-form" action=""  method="post">
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        <div class="form-group mb-4">
        {% for field in form.visible_fields %}
        
        <div class="col">
        {% render_field field class="form-control"  placeholder=field.label %}
             {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
      </div>
    {% endfor %}
        
        </div>
        {% endfor %}
<button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Register</button>
<a href="{% url 'show-contacts' %}">
    <button type="button" class="btn btn-outline-danger waves-effect btn-block z-depth-0 btn-rounded my-4 waves-effect">Cancel</button>
</a>

    
</form>
</div>

</div>
</div>




{% endblock content %}

