{% block content %}

<div class="container justify-content-center pb-4 ">
<div class="w-responsive text-center mx-auto p-3 mt-2">
<table id="tablePreview" class="table table-hover ">
<h2 class="pb-3">The last five registered contacts</h2>
<!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Lastname</th>
      <th>Firstname</th> </th>
      <th>Phone number</th>
      <th>Working at</th>
      <th>Email adress</th>
    </tr>
  </thead>
  <!--Table head-->
  <!--Table body-->
  <tbody>
  {% for contact in last_contacts %}
    <tr>
      <th scope="row">{{contact.id}}</th>
      <td>{{contact.last_name}}</td>
      <td>{{contact.first_name}}</td>
      <td>{{contact.telephone}}</td>
      <td>{{contact.working_at}}</td>
      <td>{{contact.email}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
  <!--Table body-->
</table>
</div>

</div>

<!--Table-->

<!--Table-->
{% endblock content %}



