{% extends 'companies/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row justify-content-center">
  <div class="card card-cascade wider">
    <div class="card-body card-body-cascade ">
    <div class="view view-cascade overlay">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    <h4 class="card-title mb-4"><strong>{{contact.first_name}} {{contact.last_name}} :</strong></h4>
    <div class="text-center mb-3"><i class="fas fa-user-circle fa-5x"></i></div>
    <div>
    <p> <b> Working at :</b>  {{contact.working_at}}</p>
    <p> <b>Telephone number :</b>  {{contact.telephone}}</p>
    <p> <b>Email adress :</b> {{contact.email}}</p>
    <p> <b>Registration date :</b> {{contact.created_at}}</p></div>
    <div class="container col-12 text-center">
      <a href="{% url 'show-contacts' %}">
        <i class="fas fa-arrow-left fa-5x"></i>
      </a>
    </div>
    </div>
    </div>
</div>

{% endblock %}